.qv-object-ListboxExample div.qv-object-content-container {
	overflow: auto;
}
.qv-object-ListboxExample ul {
	list-style: none;
	text-align: center;
}
.qv-object-ListboxExample li.data {
	padding: 4px;
	/*border: 1px solid #ddd;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.menu-2 {
  /*width:400px;*/
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}
.menu-3 {
  /*width:400px;*/
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
}
.menu-4 {
  /*width:400px;*/
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
}
.menu-6 {
  /*width:400px;*/
  -webkit-column-count:6;
  -moz-column-count:6;
  column-count:6;
}
.menu-8 {
  /*width:400px;*/
  -webkit-column-count:8;
  -moz-column-count:8;
  column-count:8;
}
.menu-10 {
  /*width:400px;*/
  -webkit-column-count:10;
  -moz-column-count:10;
  column-count:10;
}
.menu-12 {
  /*width:400px;*/
  -webkit-column-count:12;
  -moz-column-count:12;
  column-count:12;
}
/* frequency */
.qv-object-ListboxExample li.data span
{
	/*padding-left: 10px;*/
	font-style: italic;
	float:right;
}

/* colors when NOT in selection mode */

.qv-object-ListboxExample li.stateS, .qv-object-ListboxExample li.stateL {
	background-image: linear-gradient(top, #52cc52, #4dc04d);
	background-image: -o-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -moz-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -webkit-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -ms-linear-gradient(top, #52cc52, #4dc04d);
	color: #fff;
}

.qv-object-ListboxExample li.stateX, .qv-object-ListboxExample li.stateXL, .qv-object-ListboxExample li.stateXS {
	background-color: #A9A9A9;
	color: #fff;
}

.qv-object-ListboxExample li.stateA {
	background-image: none;
	background-color: #ddd;
	color: #000;
}
/* colors when in selection mode */
.qv-object-ListboxExample.qv-selections-active li {
	background-image: none;
	background-color: #ddd;
	color: #000;
}

.qv-object-ListboxExample.qv-selections-active li.selected {
	background-image: linear-gradient(top, #52cc52, #4dc04d);
	background-image: -o-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -moz-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -webkit-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -ms-linear-gradient(top, #52cc52, #4dc04d);
	color: #fff;
}